* {
	text-align: center;
	background-color: #f9f9f9;
}

.nav-bar {
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav-bar > li {
	text-align: center;
}

.title {
	margin-bottom: 30px;
}

#products {
	margin-top: 40px;
}

.bigDiv {
	margin-bottom: 25px;
}

#footer {
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #444;
	opacity: 0.9;
}